*,
*::before,
*::after {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
margin: 0;
padding: 0;
}
ul {list-style-type: none;
}
a {text-decoration: none;
color: currentColor;
    
}
body { 
line-height: normal;
font-family: Roboto;
}
.header{
  background-color:#012D63 ;
  width: 1440px;
height: 93px;
flex-shrink: 0;
}
.logo{

}
.name{
font-weight: 700;
}

.text{
font-weight: 500;
  }
  .header_navigation_list{
   display: flex;
   gap: 29px;
color: #C7C7C7;
font-size: 24px;
font-weight: 400;
}
.hero{

}
  .nav_item:hover .nav_link{
    color: #fff;  
  }
.hero_title{
color: #FFF;
font-family: "Playfair Display";
font-size: 144px;
font-weight: 400;
}
.Buy_my_Nike{
color: #FFF;
font-size: 24px;
font-weight: 400;
background-color:#8E32C6;
width: 254px;
height: 67px;
flex-shrink: 0;
}

.Order{
  display: flex;
 justify-content: center;
}
.blank{
}
.Order_my_Nike{
color: #FFF;
font-size: 24px;
font-weight: 400;
width: 248px;
height: 68px;
flex-shrink: 0;
border-radius: 16px;
background: #8E32C6;
}

.footer{
  background-color:#021635 ;
  width: 1440px;
height: 292px;
flex-shrink: 0;
color: #FFF;
font-size: 24px;
font-weight: 400;
}