*,
*::before,
*::after {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
margin: 0;
padding: 0;
}
ul {list-style-type: none;
}
a {text-decoration: none;
    color: currentColor;
    
}
body { 
    line-height: normal;
    font-family: Roboto;
}
.logo{

}
.name{

    font-weight: 700;

}

.text{

    font-weight: 500;

  }
  .header_navigation_list{
    color: #C7C7C7;
font-size: 24px;
font-weight: 400;

  }
  .nav_item{

  }
  .nav_item:hover .nav_link{
    color: #fff;
    
  }
  .hero_title{
    color: #FFF;

font-family: "Playfair Display";
font-size: 144px;
font-weight: 400;
}